<!-- <mat-card class="mat-elevation-z8" *ngFor="let user of users$ | async">
  <mat-card-header>
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
</mat-card> -->
<form [formGroup]="grnFromGroup">
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="dateCtrl" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>name</mat-label>
    <input matInput placeholder="Lahiru" [formControl]="nameCtrl" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>phone</mat-label>
    <input matInput placeholder="0766656565" [formControl]="phoneCtrl" />
  </mat-form-field>
  <button mat-raised-button (click)="onSave()">Save</button>
</form>

<mat-card class="mat-elevation-z8" *ngFor="let gran of grans$ | async">
  <mat-card-header>
    <mat-card-title>{{ gran.date }}</mat-card-title>
    <mat-card-subtitle>{{ gran.customer.name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
</mat-card>
